In [1]:
# Getting knowledge of your data THE CHIPOS DATA

In [2]:
# 01 SET the important liberary

In [3]:
# Import the necessary libraries
import pandas as pd     
import numpy as np

In [4]:
# importing the data set 

url = ("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")
df = pd.read_csv(url, sep="\t")

In [5]:
# See the first 10 entries
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
# What is the number of observations in the dataset?
df.shape[0]

4622

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
# What is the number of columns in the dataset?
df.shape[1]

5

In [9]:
#  Print the name of all the columns
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
# How is the dataset indexed?
df.index

RangeIndex(start=0, stop=4622, step=1)

In [11]:
# # Which was the most-ordered item?

# most = df.groupby("item_name")
# most = most.sum()
# most = most.sort_values(['quantity'], ascending=False)
# most.head(1)
most = df.groupby("item_name")
most = most.sum()
most = most.sort_values(["quantity"], ascending=False)
most.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

In [12]:
# For the most-ordered item, how many items were ordered
most1 = df.groupby("item_name")
most1 =most1.sum()
most1 = most1.sort_values(['quantity'], ascending=False)
most1.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

In [13]:
# What was the most ordered item in the choice_description column?
most2 = df.groupby("choice_description")
most2 = most2.sum()
most2 = most2.sort_values(['quantity'], ascending=False)
most2.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

In [14]:
# How many items were orderd in total?
order = df.quantity.sum()
order

4972

In [15]:
# Turn the item price into a float

# a. Check the item price type
df.item_price.dtype

dtype('O')

In [16]:
# b. Create a lambda function and change the type of item price
# a = lambda x: float(x[1:-1])
# df.item_price = df.item_price.apply(a)

b= {'item_price':"float"}
df=df.astype(b)
df.dtypes

ValueError: could not convert string to float: '$2.39 ': Error while type casting for column 'item_price'

In [ ]:
# c. Check the item price type
df.item_price.dtype

dtype('float64')

In [ ]:
#  How much was the revenue for the period in the dataset?

revenue = (df['quantity']*df['item_price']).sum()
revenue
print('the revenue of the given period in the database is  $ ',revenue)

the revenue of the given period in the database is  $  39237.02

In [ ]:
# How many orders were made in the period?
orders = df.order_id.value_counts().count()
orders

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price
0                                                   NaN         2.0
1                                          [Clementine]         3.0
2                                               [Apple]         3.0
3                                                   NaN         2.0
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...        16.0
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...        11.0
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...        11.0
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        11.0
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...         8.0
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...         8.0

[4622 rows x 5 columns]>

In [ ]:
# What is the average revenue amount per order?

In [ ]:
# How many different items are sold?
no_of_item = df.item_name.value_counts().count()
no_of_item

50